# Auto-detect text files and preserve LD
* text=auto text=d

# Source code
*.js text=
*.ts text=
*.tsx text=
*.xml text=d
*.html text=d
*.css text=

# Git specific files
.gitattributes text=d
.gitignore text=d

# Shell scripts
*.ps1 text=
*.sh 

# YAML and lock files
*.yaml text
*.lock text=d

# Binary images
*.png binary
*.jpg binary
*.gif binary
.svg text